@{
    ViewBag.Title = "WebPubSub Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <a href="/Chat"><h1>Chat Sample</h1></a>
    <a href="/Concurrency"><h1>Concurrency Sample</h1></a>
</div>